/*-------------------------------------------------------------------------------*/
/* 0. RESET CSS & FONTS */
/*-------------------------------------------------------------------------------*/

@import "reset.css";

/*-------------------------------------------------------------------------------*/
/* 1. FONTS */
/*-------------------------------------------------------------------------------*/

@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

/*-------------------------------------------------------------------------------*/
/* 2. ROOT VARIABLES */
/*-------------------------------------------------------------------------------*/

:root {
    --color-primary: #232323;
    --color-secondary: #576C80;
    --color-white: #E8E8E8;
    --color-grey: #D9D9D9;
    --color-separator: #23232399;

    --color-white-pure: #FFFFFF;
    --color-black-pure: #000000;

    --gradient-gray: linear-gradient(89.65deg, #D8D8D8 0.44%, #ECEDED 56.23%, #EDEDED 99.83%);
    --gradient-blue: radial-gradient(96.15% 96.15% at -5.98% 11.82%, #000000 0%, #142743 62.53%, #38618A 100%);
}

.color-primary {
    color: var(--color-primary, #232323)!important;
}

.color-secondary {
    color: var(--color-secondary, #576C80)!important;
}

.color-white {
    color: var(--color-white, #E8E8E8)!important;
}

.color-grey {
    color: var(--color-grey, #D9D9D9)!important;
}

.color-separator {
    color: var(--color-separator, #23232399)!important;
}

.color-white-pure {
    color: var(--color-white-pure, #FFFFFF)!important;
}

.color-black-pure {
    color: var(--color-black-pure, #000000)!important;
}

/*-------------------------------------------------------------------------------*/
/* 3. CUSTOM CSS */
/*-------------------------------------------------------------------------------*/

html {
    font-family: 'SF Pro Display', sans-serif;
}

html.no-scroll {
    overflow: hidden;
    height: 100%;
}

body {
    background: url("../assets/img/bg.png"), lightgray 0% 0% / 100px 100px repeat;
}

hr {
    border: none;
    margin: 0;
}

button, a {
    cursor: pointer;
}

a {
    color: var(--color-black-pure, #000000);
    text-decoration: unset;
}

a:hover {
    text-decoration: underline;
}

button {
    border: 2px solid var(--color-white, #E8E8E8);
    border-radius: 40px;
    padding: 10px 85px;
    background: var(--color-white, #E8E8E8);
    color: var(--color-primary, #232323);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    transition: all ease-in-out 0.3s;
}

button:hover {
    border: 2px solid var(--color-white, #E8E8E8);
    color: var(--color-white, #E8E8E8);
    background: var(--gradient-blue, radial-gradient(135.78% 135.78% at -5.98% 11.82%, #000 0%, #142743 62.53%, #38618A 100%));
}

.container {
    max-width: 1680px;
    margin: 0 auto;
}

.placeholder {
    height: 700px;
}

.container-padding {
    padding: 0 90px;
    max-width: 1500px;
    margin: 0 auto;
}

.title-test {
    color: var(--color-primary, #232323);
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

/* Big Heading */
h2.big-heading {
    color: var(--color-black-pure, #000);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 112px;
    text-transform: uppercase;
}

/* Heading 1 */
h2.heading-1 {
    color: var(--color-black-pure, #000);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
}

/* Heading 2 */
h2.heading-2 {
    color: var(--color-black-pure, #000);
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Heading 3 */
h3 {
    color: var(--color-black-pure, #000);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Text */
p {
    color: var(--color-black-pure, #000);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Text Medium */
p.medium {
    color: var(--color-black-pure, #000);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Text 2 */
p.text2 {
    color: var(--color-black-pure, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Text 3 */
p.text3 {
    color: var(--color-black-pure, #000);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 920px) {
    .container-padding {
        padding: 0 32px;
    }

    button {
        background: var(--color-primary, #232323);
        border: 2px solid var(--color-primary, #232323);
        color: var(--color-white, #E8E8E8);
    }

    /* Heading 1 */
    h2.heading-1 {
        font-size: 38px;
    }

    /* Heading 2 */
    h2.heading-2 {
        font-size: 30px;
    }

    /* Heading 3 */
    h3 {
        font-size: 18px;
    }

}